@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --main-bg: rgb(255, 255, 255);
  --main-texct-color: #000000;
  --dark-theme-bg: #000000;
  --dark-theme-text-color: wheat;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Required for full-page layout */
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid black;
  background-color: var(--main-bg);
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  font-family: "Space Grotesk", sans-serif;
  margin: 0 2rem;
}

ul li {
  font-size: 2rem;
  color: var(--main-text-color);
}

ul li a {
  text-decoration: none;
  color: inherit;
}

ul li a:hover {
  text-decoration: underline;
}

.dark {
  background-color: var(--dark-theme-bg);
  color: var(--dark-theme-text-color);
  border-color: var(--dark-theme-text-color);

  a {
    color: #ffffff;
  }
}

main {
  flex: 1; /* This makes main expand to fill remaining space */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Space Grotesk", sans-serif;
}

main section {
  flex-basis: 45%;
  font-family: "Space Grotesk", sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

main section p {
  line-height: 50px;
  text-align: justify;
}

main section img {
  border-radius: 50%;
  width: 75%;
}

footer {
  border-top: 1px solid black;
  padding: 1rem;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

#main-image {
  margin: 0 auto;
  opacity: 0.4;
}

.theme-input {
  margin-top: 10px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

/* ****************************   mobile *********************** */
@media (max-width: 900px) {
  header nav ul,
  footer ul {
    flex-direction: column;
  }
  main {
    flex-direction: column;
  }

  .theme-input {
    flex-direction: row;
  }
}
