<section>
  <p>
    Hey there! I'm Utku — a self-taught developer on a wild coding journey. I
    write about what I’ve learned (and what I think I’m learning) over in the
    Writings section. Feel free to send your thoughts, praise, or bug reports
    through the links below. I tried to keep this site as simple as possible…
    and well, this is as simple as I could get. I mean, I’m no Richard Stallman
    or Kyle Simpson. If you’re into shiny stuff, check out the Projects section
    — yes, you, dear recruiter, I see you snooping 👀
  </p>
</section>
<section id="main-image">
  <img src="./profile.jpg" alt="utku's picture" />
</section>
